@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body{
    background-color: lavender;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container > h1 {
    font-family: 'Raleway', sans-serif;

}

#main-header{
    background-color:rgb(216, 231, 216);
    color: grey;
    font-family: 'Raleway', sans-serif;

}


body h1{
   color:rgb(168, 167, 161);
   font-family: cursive;
   font-size: 70px;
   line-height: 1.9em;
   margin: 20;

   direction: flex;
   justify-content: center;
}

.header{
    background-color: rgb(216, 231, 216); 
    color: white;
}

#navbar{
    background-color:rgb(168, 167, 161);
    color: white;
    padding-top: 8px;
    padding-bottom: 5px;
    border-top: 3px grey solid;
    border-bottom: 3px grey solid;
    margin: 0px;
}

#navbar ul{
    padding: 0;
    list-style: none; 
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: bold;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}


#showcase h1{
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 30px;
    direction: flex;
    justify-content: center;

} 

.welcome-box > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.card-title{
    font-family: Arial, Helvetica, sans-serif;
}

.card-text{
    font-family: Arial, Helvetica, sans-serif;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    align-content: center;
}

.amsterdam-box-2{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 0px;
}

.picture-box-1 {
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.amsterdam-box-3{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.picture-box-2{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.amsterdam-box-4{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.picture-box-3{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.amsterdam-box-5{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.picture-box-4{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.amsterdam-box-6{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.picture-box-5{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.amsterdam-box-7{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}

.picture-box-6{
    background-color: rgb(235, 228, 228);
    border: 3px grey solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
}