// Class
.center-block {
    text-align: center;
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

// Usage as a mixin
.element {
  .center-block();
}


.container{
    text-align: center;
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

