
h1{
    font-size: 100px; 
    font-weight: 100;
    color: blueviolet;
    font-style: italic;
    margin: 20px black;
    border: 20px black; 
    padding: 20px black;
}

.world{
 
    border-radius: 20px black;

}